{% load i18n static %}
<!DOCTYPE html>{% get_current_language as LANGUAGE_CODE %}
<html lang="{{ LANGUAGE_CODE|default:"en-us" }}">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" href="{% static 'demo/css/bootstrap.min.css' %}">
{% block extra_css %}{% endblock %}
<script src="{% static 'demo/js/jquery-3.5.1.min.js' %}"></script>
<script src="{% static 'demo/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'demo/js/plotly-1.57.1.min.js' %}"></script>
<script src="{% static  'demo/js/index.js' %}"></script>
<title>{% block title %}Embedding Research Project{% endblock %}</title>
</head>
<body>
  <div class="container">
    {% block content %}
      {{ content }}
    {% endblock %}
  </div>
{% block extra_js %}{% endblock %}
</body>
</html>
